@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  font-family: "Mukta";
  background: #485167;
}

.btn-primary {
  background: #103c5b;
}
